/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

h1 {
    font-family: 'Salsa', cursive;
    color: #333;
    text-align: center;
    font-size: 36px;
  }
  

#vis1, #vis2 {
  margin-top: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}
.salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
